@import "../../../styles.scss";

.qrCode-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-image: url("../../../assets/background.png");
  align-items: center;

  .title {
    font-size: 2rem;
    color: $darker_grey;
    text-transform: uppercase;
    font-weight: bold;
  }

  .subtitle {
    color: $darker_grey;
    font-size: 1.4rem;
    border-bottom: .1rem solid;
  }

  .contents {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: $darker_grey;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .input-field {
      height: 3rem;
      width: 25rem;
      border-radius: 0.5rem;
      box-shadow: none;
      border: 0.1rem solid $light_grey;
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  .btn-contianer {
    margin-top: 1rem;

    button {
      height: 3rem;
      width: 25rem;
      border-radius: 0.5rem;
      box-shadow: none;
      border: 0.1rem solid $light_grey;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      background-color: $darker_grey;
      text-transform: uppercase;
    }
  }
}
