<div class="login-container">
  <form
    [formGroup]="frmSignup"
    (submit)="submit()"
    class="login-form"
    *ngIf="!isOtp"
  >
    <img src="../../../assets/logo.svg" class="logo-login" />
    <div class="form-group-cont">
      <div class="form-group">
        <label for="" class="input-label">USERNAME</label>
        <input
          id="email"
          formControlName="Email"
          type="text"
          class="input-field"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="password" class="input-label">Password:</label>
        <input
          id="password"
          formControlName="Password"
          type="password"
          class="input-field"
        />
        <label
          class="validation-error"
          *ngIf="frmSignup.controls['Password'].value.length !== 0"
        >
          {{
            frmSignup.controls["Password"].hasError("required") ||
            frmSignup.controls["Password"].hasError("minlength")
              ? "Must be at least 8 characters!"
              : frmSignup.controls["Password"].hasError("required") ||
                frmSignup.controls["Password"].hasError("hasNumber")
              ? "Must contain at least 1 number!"
              : frmSignup.controls["Password"].hasError("required") ||
                frmSignup.controls["Password"].hasError("hasCapitalCase")
              ? "Must contain at least 1 in Capital Case!"
              : frmSignup.controls["Password"].hasError("required") ||
                frmSignup.controls["Password"].hasError("hasSmallCase")
              ? "Must contain at least 1 Letter in Small Case!"
              : frmSignup.controls["Password"].hasError("required") ||
                frmSignup.controls["Password"].hasError("hasSpecialCharacters")
              ? "Must contain at least 1 Special Character!"
              : ""
          }}
        </label>
      </div>
      <div class="form-group">
        <label for="password" class="input-label">Confirm Password</label>
        <input
          id="password"
          formControlName="ConfirmPassword"
          type="password"
          class="input-field"
        />
      </div>
    </div>
    <div class="btn-contianer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="frmSignup.invalid"
      >
        Sign Up
      </button>
    </div>
    <div>
      <label class="already-register">Already Register ? <a href="/log-in">Login</a></label>
    </div>
  </form>
</div>
