.home-cont {
  background-image: url("../../../assets/background.png");
  text-align: center;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
