.home-cont {
  background-image: url("../../../assets/background.png");
  text-align: center;
  height: 100%;
  padding: 8rem 25rem;

  .logout-cont {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    button {
      font-size: 1.2rem;
    text-transform: uppercase;
    background-color: red;
    color: white;
    }
  }

  .text-cont {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10rem;
    text-transform: uppercase;
  }
}
