.user-profile-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  button {
    background-color: #52a7dc;
    border: .1rem solid #52a7dc;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    border-radius: .5rem;
    box-shadow: 0 0 5px #52a7dc;
    font-size: 3rem;
    height: 8rem;
    a {
      width: 100%;
      text-decoration: none !important;
      color: white;
      height: 8rem;
    }
  }
}
